@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Libre+Baskerville:wght@400;700&display=swap');

* {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px, rgba(0, 0, 0, 0.3) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
    max-width: 477px;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2rem;
}

.container > h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 0.1em;
    color: #fdfdfd;
    border-bottom: 4px solid #42a0a0;
    text-shadow: 0 0 10px #38adad, 0 0 20px #38adad, 0 0 30px #38adad, 0 0 40px #38adad, 0 0 50px #38adad;
    animation: glow 2s infinite alternate;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    background: transparent;
    padding: 1rem 3rem;
    display: inline-block;
    color: #9ababa;
}

.form-control {
    background: transparent;
    width: 116%;
    max-width: 231px;
    height: 35px;
    padding: 0.5rem 1.5rem;
    opacity: 0.9;
    color: #f5f5f5;
    border: none;
    outline: none;
    box-shadow: rgb(255 208 208 / 40%) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.form-control::placeholder {
    color: #f5f5f5;
    font-size: 1.6rem;
}

.btn {
    font-family: 'Libre Baskerville', serif;
    padding: 0.8rem 1.8rem;
    margin-top: 1.5rem;
    background: transparent;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    color: #f5f5f5;
    text-align: center;
    transition: all 0.4s ease;
    box-shadow: #ff4040 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.btn:hover {
    background: #38adad;
    color: #f5f5f5;
}

.result {
    color: #fff4f4;
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: #ff4040 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.copyright {
    color: #ffffff;
    te
